@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
.h-full {
  height: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

body {
  background-color: #0f172a;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: clamp(3rem, -1.154rem + 11.538vw, 6rem) clamp(1.5rem, -0.577rem + 5.769vw, 3rem);
}
@media (min-width: 992px) {
  main {
    flex-direction: row;
    padding: unset;
  }
  main .site-content {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #94A3B8 transparent;
  }
  main .site-content::-webkit-scrollbar {
    width: 4px;
  }
  main .site-content::-webkit-scrollbar-track {
    background: transparent;
  }
  main .site-content::-webkit-scrollbar-thumb {
    background: #94A3B8;
    border-radius: 4px;
  }
  main .site-content::-webkit-scrollbar-thumb:hover {
    background: #e2e8f0;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

* {
  font-family: "Inter", sans-serif;
}

h1, .h1 {
  font-size: clamp(2.25rem, 1.212rem + 2.885vw, 3rem);
  color: #e2e8f0;
  line-height: 1;
}

h2, .h2 {
  font-size: 1.125rem;
  color: #e2e8f0;
  font-weight: normal;
}

h3, .h3, h4, .h4 {
  font-size: 1rem;
  color: #e2e8f0;
}

h3, .h3 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

p {
  font-size: 1rem;
  color: #94A3B8;
}

a {
  font-size: inherit;
  color: #e2e8f0;
  text-decoration: none;
  cursor: pointer;
}

i {
  font-size: 2rem;
  color: #e2e8f0;
}

.hero-section {
  justify-content: space-between;
}
@media (min-width: 992px) {
  .hero-section {
    padding: 6rem 3rem;
    margin-bottom: unset;
    height: calc(100vh - 12rem);
    width: 30rem;
  }
}
.hero-section ul {
  gap: 1rem;
  list-style-type: none;
}
.hero-section > ul {
  display: flex;
}
.hero-section > nav {
  display: none;
}
@media (min-width: 992px) {
  .hero-section > nav {
    display: block;
  }
}
.hero-section > nav ul {
  width: fit-content;
}
.hero-section > nav ul li {
  position: relative;
  margin-left: 2.5rem;
  transition: margin-left 0.3s ease;
}
.hero-section > nav ul li > a {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #94A3B8;
  transition: color 0.3s ease;
}
.hero-section > nav ul li.focus {
  margin-left: 3.5rem;
}
.hero-section > nav ul li.focus > a {
  color: #e2e8f0;
}
.hero-section > nav ul li::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 2rem;
  background-color: #94A3B8;
  top: 50%;
  right: calc(100% + 0.5rem);
  transition: width 0.3s ease;
}
.hero-section > nav ul li.focus::before {
  width: 3rem;
}

@media (min-width: 992px) {
  .about-section {
    min-height: 100%;
  }
}

@media (min-width: 992px) {
  .experience-section {
    min-height: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
