@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

body {
  background-color: $km-slate-dark;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: clamp(3rem, -1.154rem + 11.538vw, 6rem) clamp(1.5rem, -0.577rem + 5.769vw, 3rem);

  @include respond(large) {
    flex-direction: row;
    padding: unset;

    .site-content {
      flex: 1;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $km-slate-medium;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $km-slate-light;
      }

      scrollbar-width: thin;
      scrollbar-color: $km-slate-medium transparent;
    }
  }
}

