$breakpoints: (
        small: 576px,
        medium: 768px,
        large: 992px,
        xlarge: 1200px
);

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$breakpoint} is not defined in the breakpoints map.";
  }
}